.col-md-6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar{
    margin-bottom: 30px;
}

@font-face {
    font-family: Inconsolata-Medium;
    src: url(../fonts/Inconsolata-Medium.ttf);
}

#register-text{
    font-family: Inconsolata-Medium;
    padding: 10px 15px 10px 15px;
}