<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Entradas
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <label for="input-date-start-entradas" class="form-label">Data Início</label>
                    <input type="date" class="form-control" id="input-date-start-entradas">
                </div>
                <div class="col">
                    <label for="input-date-end-entradas" class="form-label">Data Final</label>
                    <input type="date" class="form-control" id="input-date-end-entradas">
                </div>
            </div>
            <button style="margin-top: 10px" type="button" onclick="clickSendEntradas()" class="btn btn-success btn-sm"> Enviar</button>

        </div>
    </div>
</div>