<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Histórico
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <label for="input-date-start-historico" class="form-label">Data Início</label>
                    <input type="date" class="form-control" id="input-date-start-historico">
                </div>
                <div class="col">
                    <label for="input-date-end-historico" class="form-label">Data Final</label>
                    <input type="date" class="form-control" id="input-date-end-historico">
                </div>

            </div>
            <button style="margin-top: 10px" type="button" onclick="clickSendHistorico()" class="btn btn-success btn-sm"> Enviar</button>
        </div>
    </div>
</div>