<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Pedidos
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <label for="input-date-start-pedidos" class="form-label">Data Início</label>
                    <input type="date" class="form-control" id="input-date-start-pedidos">
                </div>
                <div class="col">
                    <label for="input-date-end-pedidos" class="form-label">Data Final</label>
                    <input type="date" class="form-control" id="input-date-end-pedidos">
                </div>

            </div>
            <button style="margin-top: 10px" type="button" onclick="clickSendPedidos()" class="btn btn-success btn-sm"> Enviar</button>

        </div>
    </div>
</div>