<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Vendas
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="input-date-start-vendas" class="form-label">Data Início</label>
                    <input type="date" class="form-control" id="input-date-start-vendas">
                </div>
                <div class="col">
                    <label for="input-date-end-vendas" class="form-label">Data Final</label>
                    <input type="date" class="form-control" id="input-date-end-vendas">
                </div>
            </div>
            <button style="margin-top: 10px" type="button" onclick="clickSendVendas()" class="btn btn-success btn-sm"> Enviar</button>
        </div>
    </div>
</div>